.Track {
    display: flex;
    align-items: center;
    border: 2px solid red;
    border-radius: 2rem;
    padding: 0.4rem;
}

.content-track {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

h3 {
    align-self: center;
}

h4 {
    margin-left: 0.8rem;
}

p {
    margin-left: 1.2rem;
}

.Track button {
    border-radius: 100%;
    padding: 0.2rem;
    background-color: transparent;
    justify-self: flex-end;
    align-self: base;
    font-weight: bold;
    font-size: 1.5rem;
    border-style: none;
    margin-right: 1rem;
}