.Playlists {
    display: flex;
    /* flex: 1; */
    gap: 2rem;
    padding: 1rem;
}

.panel {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    gap: 1rem;
}

.playlist-btn {
    padding: 1rem;
    border-radius: 0.75rem;
    background: transparent;
}

.plToModify {
    display: flex;
    justify-content: space-between;
    flex-basis: 90%;
    /* flex-grow: 1; */
    padding: 0 2rem;
}

.Playlist-Modify {
    flex-basis: 60%;
}