.Playlist {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 0.9rem;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    background-color: rgb(19, 232, 111);
    min-height: 40vh;
}

bouton-rose {}

.Playlist input {
    border-style: none;
    background: transparent;
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid white;
    outline: 0;
    padding-bottom: 0.3rem;
}



.Playlist-tracks {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 0.7rem;
    padding: 0.2rem;
}
.Playlist-tracks li {
    min-width: 30vw;
    max-width: 80vw;
    padding-left: 1rem;
}

.Playlist button {
    align-self: center;
    background-color: rgb(171, 171, 233);
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    border-style: none;
}
