
.CreatePlaylist {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
  
  }

  .CreatePlaylist-results {
    display: flex;
    flex-direction: column;
    /* width: max(50%, 300px); */
    gap: 1rem;
    justify-content: space-around;
    padding: 0 0.5rem;
  }

  .CreatePlaylist-results > * {
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) -3px 3px 3px;
  }