.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 1rem; */
  background-color: rgb(83, 235, 149);
}


.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(194, 181, 236);
  padding: 0.2rem;
  
}

.App span {
  color: orange;
}

.App-search {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.App-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
  padding: 0 2rem;
}
