.App {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  min-height: 100vh;
  background-image: url('./music-jammming.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}










