@font-face {
  font-family: 'Patrick Hand SC', cursive;
  src: url('../fonts/PatrickHand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  /* font-display: swap;  */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-size: 16px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Patrick Hand SC', cursive, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* font-family: 'Patrick Hand SC', cursive; */


}


/* 'Patrick Hand SC', cursive; */